*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 background-color: white;

}
.navbar{
    list-style: none;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-links{
list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.nav-links li{
margin: 0 150px;
}
.nav-links a{
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
}
.nav-links a:hover{
    background-color: white;
    color: purple;
}
.navbar{
    border-bottom: 2px solid gray;
}